.profile-alignment {
    display: flex;
    align-items: center;
  }

.userinfo-alignment {
    text-align: left;
}

.form-alignment {
    display: inline-block;
}

.content-alignment {
    text-align: center;
}

/* color for stars in user score */
.checked {
    color: orange;
  }