{% extends "layout.html" %}

{% block title %}
    Enter Route
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>??????</th>
                <th>User input</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Route name:</td>
                <td>{{ route.route_name }}</td>
            </tr>
            <tr>
                <td>Spot:</td>
                <td>{{ route.spot }}</td>
            </tr>
            <tr>
                <td>Grade:</td>
                <td>{{ route.grade }}</td>
            </tr>
            <tr>
                <td>User grade:</td>
                <td>{{ route.user_grade }}</td>
            </tr>
            <tr>
                <td>Attempts</td>
                <td>{{ route.attempts }}</td>
            </tr>
            <tr>
                <td>Top reached:</td>
                <td>{{ route.top_reached }}</td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>{{ route.comments }}</td>
            </tr>
            <tr>
                <td>Score:</td>
                <td>{{ route.score }}</td>
            </tr>
        </tbody>
    </table>
    <form action="/enterRoute" method="post"></form>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}