{% extends "layout.html" %}

{% block title %}
    Edit User Profile
{% endblock %}

{% block main %}

<form action="/editUserProfile" method="post">
    <table class="table-striped">
        <tr>
            <th></th>
            <th>Current Value</th>
            <th>New Value</th>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                {{ result.age }}
            </td>
            <td>
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="age" placeholder="Age?" type="number" min="1">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Height
            </td>
            <td>
                {{ result.height }}
            </td>
            <td>
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="height" placeholder="Height [cm]?" type="number" min="1">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Bodyweight
            </td>
            <td>
                {{ result.bodyweight }}
            </td>
            <td>
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="bodyweight" placeholder="Bodyweight [kg]?" type="number" min="1" step="0.1">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Redpoint
            </td>
            <td>
                {{ result.redpoint }}
            </td>
            <td>
                <div class="form-group">
                    <select name="redpoint">
                        <option disabled selected>Redpoint?</option>
                        {% for grade in grades %}
                            <option>{{ grade }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Onsight
            </td>
            <td>
                {{ result.onsight }}
            </td>
            <td>
                <div class="form-group">
                    <select name="onsight">
                        <option disabled selected>Onsight?</option>
                        {% for grade in grades %}
                            <option>{{ grade }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                About me
            </td>
            <td>
                {{ result.about_me }}
            </td>
            <td>
                <div class="form-group">
                    <textarea rows="4" cols="50" name="about_me" placeholder="Tell us something about yourself"></textarea>
                </div>
            </td>
        </tr>
    </table>

    <button class="btn btn-primary" type="submit">Submit</button>

</form>





{% endblock %}