{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}

    {% if error[0] == "user uniqueness" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Username or Email is already taken!</p>
        </div>
    {% endif %}

    {% if error[0] == "missing username" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Must provide username!</p>
        </div>
    {% endif %}

    {% if error[0] == "missing email" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Must provide email!</p>
        </div>
    {% endif %}

    {% if error[0] == "missing password" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Must provide password!</p>
        </div>
    {% endif %}

    {% if error[0] == "missing confirmation" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Must confirm password!</p>
        </div>
    {% endif %}

    {% if error[0] == "different passwords" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Passwords are not identical!</p>
        </div>
    {% endif %}

    {% if error[0] == "invalid credentials" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Either username or password is not correct!</p>
        </div>
    {% endif %}

    {% if error[0] == "query failed" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Database query failed!</p>
        </div>
    {% endif %}

    {% if error[0] == "invalid value" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Invalid value!</p>
        </div>
    {% endif %}

    {% if error[0] == "incomplete form" %}
        <div class="alert alert-danger" role="alert">
            <p>Error: Incomplete form!</p>
        </div>
    {% endif %}

{% endblock %}