{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hey, this is {{ result_users.username }}!</h1>
            <p class="lead">{{ result_users.about_me }}</p>
        </div>
    </div>

    <img src="https://via.placeholder.com/150" alt="profile picture" class="img-fluid float-left img-thumbnail pull-left mr-3" width="200px" heigth="200px">

    <p>
        Username: {{ result_users.username }}
        <br>
        Age: {{ result_users.age }} years
        <br>
        Height: {{ result_users.height }} cm
        <br>
        Bodyweight: {{ result_users.bodyweight }} kg
        <br>
        Redpoint: {{ result_users.redpoint }}
        <br>
        Onsight: {{ result_users.onsight }}
    </p>
    <br>
    <br>
    <h1>Climbing History</h1>

    <table style="width: 100%" class="table-striped">
        <tr>
            <th>Spot</th>
            <th>Route</th>
            <th>Grade</th>
            <th>User Grade</th>
            <th>Top reached?</th>
            <th>Attempts</th>
            <th>Score</th>
            <th>Comment</th>
        </tr>
        {% for i in range(0,2) %}
            <tr>
                <td>{{ result_routes[i]["spot"] }}</td>
                <td>{{ result_routes[i]["name"] }}</td>
                <td>{{ result_routes[i]["grade"] }}</td>
                <td>{{ result_routes[i]["user_grade"] }}</td>
                <td>{{ result_routes[i]["top_reached"] }}</td>
                <td>{{ result_routes[i]["attempts"] }}</td>
                <td>{% for i in range(0,result_routes[i]["score"]) %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for i in range(0,5-result_routes[i]["score"]) %}
                        <span class="fa fa-star"></span>
                    {% endfor %}
                </td>
                <td>{{ result_routes[i]["comments"] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}