{% extends "layout.html" %}

{% block title %}
    Search User
{% endblock %}

{% block main %}


<div class="col-md-12 mb-3 mt-5 no-gutters profile-alignment">
    <div id="profilePicture" class="col-md-2">
        <img src="../static/profilePictures/default.png" alt="profile picture" class="img-fluid float-left img-thumbnail pull-left mr-3" width="500px" height="500px" id="profile">
    </div>
    <div class="col-md-3 pl-5">
        <table class="col-md-12 table-striped">
            <tr class="col-md-3">
                <td>Username: </td>
                <td class="userinfo-alignment" id="username"></td>
            </tr>
            <tr class="col-md-3">
                <td>Age: </td>
                <td class="userinfo-alignment" id="age"></td>
            </tr>
            <tr class="col-md-3">
                <td>Height: </td>
                <td class="userinfo-alignment" id="height"></td>
            </tr>
            <tr class="col-md-3">
                <td>Bodyweight: </td>
                <td class="userinfo-alignment" id="bodyweight"></td>
            </tr>
            <tr class="col-md-3">
                <td>Redpoint: </td>
                <td class="userinfo-alignment" id="redpoint"></td>
            </tr>
            <tr class="col-md-3">
                <td>Onsight: </td>
                <td class="userinfo-alignment" id="onsight"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4 pl-5" id="chartDiv">
        <canvas id="chart"></canvas>
        <div class="pl-5">
            <input type="checkbox" id="dataCheckbox" checked>
            <label for="dataCheckbox">Show only topped Routes</label>
        </div>
    </div>
</div>
<div class="col-md-12 mb-3 no-gutters profile-alignment">
    <p class="lead" id="about_me"></p>
</div>
<hr>
<div class="form-group form-alignment">
    <input class="form-control" id="searchInput" autocomplete="off" autofocus placeholder="Search User" type="text" class="mb-3">
</div>

<h1 class="display-5">Users Found</h1>

<div class="table-responsive-md">
    <table class="table table-striped table-hover table-sm col-md-6">
        <thead class="thead-light">
            <tr>
                <th class="col-md-3">Username</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody id="tbodySearchTable"></tbody>
    </table>
</div>

<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    document.getElementById("chartDiv").style.display = "none";
    let searchInput = document.getElementById("searchInput");
    searchInput.addEventListener('keyup', function() {
        $.get("/search?q=" + searchInput.value, function(result) {
            let htmltable = "";
            for (let i = 0; i < result.length; i++) {
                let username = result[i].username;
                htmltable += "<tr><td>" + username + "</td><td><button class='btn btn-primary' type='submit' value=" + username + " onclick='processSearchUserInput(this.value)'>View Details</button></td></tr>"
            }
            document.getElementById("tbodySearchTable").innerHTML = htmltable;
        });
    });
    function processSearchUserInput(username) {
            $.ajax({
                    type: "POST",
                    url: "{{url_for('processSearchUserInput')}}",
                    data: {
                        name: username,
                    }
                })
            .done(function(data) {
                
                // Data for user info
                result_userInfo = data["result_userInfo"][0];
                for (const [key, value] of Object.entries(result_userInfo)) {
                    //console.log(key, value);
                    document.getElementById(key).innerHTML = value;
                }
                document.getElementById("profile").src="../static/profilePictures/" + result_userInfo.profile;
                document.getElementById("age").innerHTML = document.getElementById("age").innerHTML + " years";
                document.getElementById("height").innerHTML = document.getElementById("height").innerHTML + " cm";
                document.getElementById("bodyweight").innerHTML = document.getElementById("bodyweight").innerHTML + " kg";

                // Data for chart
                document.getElementById("chartDiv").style.display = "block";
                let checkbox = document.getElementById("dataCheckbox")
                checkbox.addEventListener('change', changeData); 

                var yesLabels = data["yesLabels"]
                var yesValues = data["yesValues"]
                var yesLabelString = "Number of topped Routes";
                var allLabels = data["allLabels"];
                var allValues = data["allValues"];
                var allLabelString = "Number of all Routes tried";
                
                var ctx = document.getElementById("chart").getContext("2d");
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: yesLabels,
                        datasets: [{
                            barPercentage: 1.0,
                            backgroundColor: "rgba(80, 220, 100, 0.5)",
                            borderWidth: 1,
                            data: yesValues
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 1,
                                    precision: 0
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: yesLabelString,
                                    fontSize: 12,
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    },
                });

                function changeData(){
                    // change data of chart on click
                    if (checkbox.checked){
                        chart.options.scales.yAxes[0].scaleLabel.labelString = yesLabelString;
                        chart.config.data.labels = yesLabels;
                        chart.config.data.datasets[0].data = yesValues;
                        chart.update();
                    } else {
                        chart.options.scales.yAxes[0].scaleLabel.labelString = allLabelString;
                        chart.config.data.labels = allLabels;
                        chart.config.data.datasets[0].data = allValues;
                        chart.update();
                    }
                };

                // Data for last climbs


            });
            
        }

        
    
</script>

{% endblock %}